$body-bg: #0f0f0f;
$main-color: #FF4500;
$txt-color: #fff;

$instagram-color: #E4405F;
$facebook-color: #3b5998;
$twitter-color: #00acee;
$google-color: #3cba54;
$youtube-color: #c4302b;
$pinterest-color: #c8232c; 

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow-2: rgba(255, 255, 255, 0.2) 0 0 40px 40px;

$header-height: 128px;
$header-shrink-height: 80px;
$border-radius: 30px;

$mobile-width: 646px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;
$font-family-2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
